<<<<<<< HEAD
/*Reset Css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------------Class dùng chung-------------------------------------*/
.justify--center /* Căn giữa */
{
    justify-content: center !important;
}
.collums__divide--by3 /* Chia cột làm 3 */
{
    position : relative;
    width: 33.3333333333333%;
}
.row
{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
::before
{
    box-sizing: border-box;
}

/*------------------------ Dương------------------------------------ */
.portfolio__title
{
    padding-bottom: 30px;
}
.portfolio__title h2
{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}
.portfolio__title h2::after
{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}
#portfolio__filter
{
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
    flex: 0 0 auto;
    width: 100%;
}
#portfolio__filter li
{
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
#portfolio__filter li:hover
{
    color: #149ddd;
}
.portfolio_item
{
    margin-bottom: 30px;
    padding: 0 12px;
    width: 33.33333333333%;
    flex: auto;
}

.testimonial__title
{
    padding-bottom: 30px;
}
.testimonial__title h2
{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}
.testimonial__title h2::after
{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

#testimonial .testimonials-carousel, .testimonials .testimonials-slider {
    overflow: hidden;
  }
  #testimonial .testimonial-item {
    box-sizing: content-box;
    text-align: center;
    min-height: 320px;
  }
  #testimonial .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
  }
  #testimonial .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  #testimonial .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  #testimonial .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: #c3e8fa;
    font-size: 26px;
  }
  #testimonial .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  #testimonial .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  #testimonial .testimonial-item p {
    font-style: italic;
    margin: 0 15px 15px 15px;
    padding: 20px;
    background: #fff;
    position: relative;
    margin-bottom: 35px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #testimonial .testimonial-item p::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
  }
  #testimonial .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  #testimonial .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #149ddd;
  }
  #testimonial .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #149ddd;
  }




/*------------------------------------------------------------------*/
/* Đây là phần css của anh Hinh */
.row {
    display: inline-block;
    
}

.info-col {
    position: relative;
    float: left;
    padding: 0 20px;
}

.col-4 {
    width: calc(100% / 4);
}

.col-2 {
    width: calc(100% / 2);
}

.col-2_3 {
    width: calc(200% / 3);
}

.center {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.rec {
    width: 100%;
    height: 13px;
    background: #00f;
    
}

#container{
    height: 100%;
    width: 90%;
    margin: auto;
    text-align: justify;
}

#container .container-title{
    display: inline-block;
    margin-top: 50px;
}

#container .title-bar {
    height: 3px;
    width: 50px;
    background: #00f;
    margin: 25px 2px;
}

#container .about-row {
    display: inline-block;
}
    
#container .skills-col{
    margin: auto;
}

#container .about-avt {
    width: 70%;
}


@media (min-width: 900px) {
    #container .facts-col-1 {
        float: left;
        width: calc(100%/2);
    }

    #container .skills-col{
        float: left;
        width: calc(100%/2);
        padding: 0 40px;
    }

    #container .about-row {
        display: inline-block;
        height: calc(100%);
    }

    #container .about-avt {
        width: 30%;
        float: left;
    }

    #container .about-col{
        float: left;
        width: calc(200% / 3);
        padding: 0 20px;
    }

    .info-col{
        width: calc(100%/2);
    }
}

@media (max-width: 900px) {
    #container .about-avt {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #container .skills-col{
        padding: 0 20px;

    }
}

@media (min-width: 600px) {
    #container .facts-col-2 {
        float: left;
        width: calc(100%/2);
        padding: 0 10px;
    }
}
