/*Reset Css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Đây là phần css của Dương */




/* Đây là phần css của Nguyên */





/* Đây là phần css của anh Hinh */
.row {
    position: relative;
    height: calc(100%);
    overflow: hidden;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 10px;
}

.col-2 {
    width: calc(100% / 2);
}

.col-2_3 {
    width: calc(200% / 3);
}

.center {
    margin: auto;
}

#container{
    height: 100%;
    margin: auto;
    text-align: justify;
}

#container .container-section {
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#container .container-title{
    display: block;
    color: #026;
}

#container .title-bar {
    height: 3px;
    width: 50px;
    background: #0dcaf0;
    margin: 25px 2px;
}

#container .content-section {
    line-height: 1.5;
    font-size: 16px;
    margin: 20px 0;
    font-style: italic;
}

#container .about-row {
    display: inline-block;
}

#container .info-col {
    min-width: 275px;
    position: relative;
    float: left;
    padding: 0 20px;
    list-style: none;
    text-align: left;
}

#container .facts-icon{
    font-size: 54px;
    margin-right: 5px;
    color: #0dcaf0;
}
    
#container .col-2-left, #container .col-2-right{
    list-style: none;
}

#container .about-avt {
    width: 70%;
}

#container .time-box {
    background-color: #0af;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 3px 15px;
}


.sidebar { 
    position: absolute;
    width: 2px;
    height: 100%;
    background: #0dcaf0;
}


@media (min-width: 920px) {
    #container .facts-col-1 {
        float: left;
        width: calc(100%/2);
        padding: 0 20px;
        list-style: none;
    }

    #container .col-2-left{
        width: calc(100%/2.1);
        float: left;
        box-sizing: border-box;
    }

    #container .col-2-right{
        width: calc(100%/2.1);
        float: right;
        box-sizing: border-box;
    }

    #container .about-row {
        display: inline-block;
        height: calc(100%);
    }

    #container .about-avt {
        border-radius: 5%;
        width: 30%;
        float: left;
    }

    #container .about-col{
        float: left;
        width: calc(200% / 2.9);
        padding: 0 20px;
    }

    .info-col{
        width: calc(100%/2);
    }
}

@media (max-width: 920px) {
    #container .about-avt {
        border-radius: 5%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #container .col-2-left, #container .col-2-right{
        padding: 0 20px;
    }
}

@media (min-width: 600px) {
    #container .facts-col-2 {
        float: left;
        width: calc(100%/2);
        padding: 15px 10px;
        list-style: none;
    }
}

@media (max-width: 600px) {
    #container .facts-col-1 {
        padding: 0 50px;
    }

    #container .facts-col-2 {
        padding: 15px 10px;
    }
}
